<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.sleepdrive_cognition"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk android:minSdkVersion="7" />

    <!-- 외부 저장소 파일 쓰기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 외부 저장소 파일 읽기 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 레코드 권한(마이크) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="DFF"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name="org.androidtown.sleepdrive_cognition.googleapi.GooglyEyesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBx30wpSlV6Sgqdc5KynrxGd6GluuZ16_k" />

        <activity
            android:name="org.androidtown.sleepdrive_cognition.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name="org.androidtown.sleepdrive_cognition.SleepRestArea"
            android:label="@string/title_activity_sleep_rest_area" />
        <activity
            android:name=".VoiceRecord"
            android:label="VoiceRecord"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>